[Unit]
Description=Run Ballast keeper health check

[Timer]
OnActiveSec=2min
OnUnitActiveSec=5min
Persistent=true
Unit=ballast-keeper-health.service

[Install]
WantedBy=timers.target
